{% extends "base.html" %}

{% load static %}

    {% block content %}
    <div class="container">
        {% block searchform %}
 <form class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Фамилия</label>
    <input type="text" class="form-control" placeholder="Иванов">
  </div>
  <div class="col-md-6">
    <label  class="form-label">Имя</label>
    <input type="text" class="form-control" placeholder="Иван">
  </div>
     <div class="col-md-6">
    <label  class="form-label">Отчество</label>
    <input type="text" class="form-control" placeholder="Сергеевич">
  </div>
 <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Номер телефона</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="89046655544">
  </div>
<div class="col-md-6">
    <label for="inputCity" class="form-label">Город</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Брянск">
  </div>
  <div class="col-md-6">
    <label for="inputState" class="form-label">Улица</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Проспект Ленина">
  </div>
  <div class="col-md-1">
    <label for="inputState" class="form-label">Дом</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="12/2">
  </div>
  <div class="row g-1">
    <label for="inputZip" class="form-label">Вес груза</label>
    <input type="text" class="form-control" id="inputZip" placeholder="кг">
  </div>
     <div class="row g-1">
    <label for="inputZip" class="form-label">Высота груза</label>
    <input type="text" class="form-control" id="inputZip" placeholder="См">
  </div>
       <div class="row g-1">
    <label for="inputZip" class="form-label">Ширина груза</label>
    <input type="text" class="form-control" id="inputZip" placeholder="См">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Создать заказ</button>
  </div>
</form>
        {% endblock%}
</div>
{% endblock%}
