{% extends "base_staff.html" %}

{% load static %}

{% block content %}

<div class="container text-center" style="padding: 50px">

  {% for orders in data %}

  <div class="row align-items-center">

    <div class="col">
      <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Заказ</h5>
            <p class="card-text">
              <ul>
                <li>Заказчик: {{ orders.surname_client}}
                  {{orders.name_client|slice:"0:1"|add:"."}}
                  {{orders.patronymic_client|slice:"0:1"|add:"."}}

                </li>
                <li>Номер телефона: {{orders.phone}} </li>
                <li>Вес груза: {{ orders.capacity}} кг. </li>
                <li>Адрес доставки: г. {{orders.city}} ул. {{orders.street}} д. {{ orders.num_home}} </li>
                <li>Рарзмер груза: {{orders.wight}}x{{orders.height}} </li>
              </ul>
              </p>
            <a href="#" class="btn btn-primary">Найти машину</a>
      </div>

</div>
        {% endfor %}
    </div>

    </div>
  </div>
{% endblock %}