{% extends "base.html" %}

{% load static %}

        {% block headercontent %}
        <h1 style="text-align: center; height: 150px;padding-top: 45px; background-image: url({% static 'img/background_track.jpg' %}); background-position:centers;  background-repeat: no-repeat;">
          Добро пожаловать на главную страницу!
        </h1>
        {% endblock %}

        {% block content %}

        <div class="card-group">

          <div class="card">
            <img src="{% static 'img/small_car_1.jpg' %}"  class="card-img-top"  alt="...">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center"> Малогабаритная перевозка</h5>
              <p class="card-text">
                <ul>
              <li>
                Вес: до 300 кг
              </li>
               <li>
                Размер: до 200х500
              </li>
               <li>
                Стоимость: от 5000 рублей
              </li>
            </ul>
              </p>
              <p class="card-text"><small class="text-body-secondary">Количество свободных машин: {{cars_min}}</small></p>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'img/average_car.jpg' %}" class="card-img-top" style="background-size:contain" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">Среднегабаритная перевозка</h5>
              <p class="card-text">
              <ul>
              <li>
                Вес: от 300 кг до 1000 кг
              </li>
               <li>
                Размер: до 1000х2000
              </li>
               <li>
                Стоимость: от 15000 рублей
              </li>
            </ul>
              </p>
              <p class="card-text"><small class="text-body-secondary">Количество свободных машин: {{cars_mid}}</small></p>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'img/big_car_1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">Крупногабаритная перевозка</h5>
              <p class="card-text">
              <ul>
              <li>
                Вес:от 1000 до 10000 кг
              </li>
               <li>
                Размер: до 9000х5000
              </li>
               <li>
                Стоимость: от 50000 рублей
              </li>
              </ul>
              </p>
              <p class="card-text"><small class="text-body-secondary">Количество свободных машин: {{cars_max}}</small></p>
            </div>
          </div>

        </div>
        {% endblock %}